/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a {
  color: black;
}

#input-board {
  margin-top: 115px;
}
.key-letters {
  text-align: center;
  margin-top: 140px;
  text-decoration: none;
}

.white-keys {
  background-color: white;
  color: black;
  width: 50px;
  height: 280px;
  display:inline-block;
  margin-right: 5px;
  margin-top: -50px;
  border: 1px black solid;
}

.white-keys .key-letters {
  margin-top: 230px;
}

.black-keys {
  color: white;
  background-color: black;
  width: 50px;
  height: 185px;
  display:inline-block;
  margin-right: 5px;
  margin-left: -25px;
  top: 30%;
  position: absolute;
}
