/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
 font-family: 'Inconsolata', monospace;
}

.button-clean {
  background-color: white;
  border: 1px solid black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover, a:visited, a:active {
  text-decoration: none;
}

#sequence-info {
  height: 80px;
  text-align: center;
  margin-top: 80px;
}

#sequence-info a {
  background-color: lightgrey;
  color: black;
  border-radius: 2px;
  font-size: 25px;
}

#sequence-info a:nth-child(17) {
  display: none;
}

#sequence-info a:hover {
  text-decoration: none;
  color: lightgrey;
  background-color: crimson;
}

#input-board {
  margin-top: 38px;
  text-align: center;
}

.key-letters {
  text-align: center;
  margin-top: 140px;
  text-decoration: none;
}

.white-keys {
  background-color: white;
  color: black;
  width: 50px;
  height: 280px;
  display:inline-block;
  margin-right: 5px;
  margin-top: -50px;
  border: 1px black solid;
}

.white-keys .key-letters {
  margin-top: 230px;
}

.black-keys {
  color: white;
  background-color: black;
  width: 50px;
  height: 185px;
  display:inline-block;
  margin-right: 5px;
  margin-left: -25px;
  top: 20.4%;
  position: absolute;
}

.control-container {
  margin: auto;
  width: 50%;
}

.play-head form {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.control-left {
  border-right: 1px solid black;
}

.glyphicon {
  margin-top: 4px;
}

.glyphicon-stop {
  color: crimson;
}
